https://play.beam.apache.org/

In [ ]:
!pip install -r requirements.txt

In [35]:
import apache_beam as beam

import pandas as pd

In [2]:

from IPython.display import clear_output

In [3]:
# pip install pandas==1.5.2 apache-beam==2.48.0

# Map , combiners, GroupBy

In [5]:
!rm example-*
with beam.Pipeline() as p:

  (p | beam.Create(range(0, 11,2)[1:])
     | beam.combiners.Mean.Globally()
     | beam.io.textio.WriteToText('example-output')
    )
clear_output()
!cat example-output*

6.0

In [8]:
!rm example-*


with beam.Pipeline() as p:

  (p | beam.Create(range(1, 11))
     | beam.Filter(lambda num: num % 2 == 0)
     | 'Write' >> beam.io.textio.WriteToText('example-output'))
    
clear_output()
!cat example-output*

2
4
6
8
10

In [9]:
!rm example-*

with beam.Pipeline() as p:

  (p | beam.Create(range(1, 11))
     | beam.Map(lambda num: num * 2)
     | 'Write' >> beam.io.textio.WriteToText('example-output'))
    
clear_output()
!cat example-output*

2
4
6
8
10
12
14
16
18
20

In [11]:
!rm example-*
class FilterOutEvenNumber(beam.DoFn):

    def process(self, element):
        if element % 2 == 0:
            yield element


with beam.Pipeline() as p:
  (p | beam.Create(range(1, 11))
     | beam.ParDo(FilterOutEvenNumber())
    | 'Write' >> beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

2
4
6
8
10

In [12]:
import numpy as np

In [13]:
list(range(0, 11,2)),np.mean(list(range(0, 11,2)))

([0, 2, 4, 6, 8, 10], 5.0)

In [14]:

!rm example-*
with beam.Pipeline() as p:

  (p | beam.Create(range(1, 11))
     | beam.combiners.Top.Largest(4)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

[10, 9, 8, 7]

In [15]:
!rm example-*
with beam.Pipeline() as p:

  (p | beam.Create(range(1, 11))
     | beam.combiners.Top.Smallest(2)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

[1, 2]

In [22]:
!rm example-*
with beam.Pipeline() as p:

  (p | beam.Create(range(1, 11))
     | beam.CombineGlobally(min)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

1

In [23]:
%%writefile inputtext.txt
10
20
30
40
100

Overwriting inputtext.txt

In [24]:

!rm example-*

with beam.Pipeline() as p:
    # | beam.Create([10, 20, 30, 40, 50])
  (p | beam.io.ReadFromText('inputtext.txt')
     | beam.Map(lambda num: 2*int(num) + 5)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

25
45
65
85
205

In [16]:
%%writefile inputtext2.txt
10,20,30
20,30,35
30,35,40
40,45,50
100,105,110

Overwriting inputtext2.txt

In [25]:

!rm example-*

with beam.Pipeline() as p:
    # | beam.Create([10, 20, 30, 40, 50])
  (p | beam.io.ReadFromText('inputtext2.txt')
     | beam.Map(lambda line: line.split(","))
     | beam.Map(lambda nums: [2*int(num) + 5 for num in nums])
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

[25, 45, 65]
[45, 65, 75]
[65, 75, 85]
[85, 95, 105]
[205, 215, 225]

In [26]:
%%writefile inputtext3.txt
10,20,30,B,C
20,30,35,A,D
30,35,40,K,E
40,45,50,N,C
100,105,110,M,C

Overwriting inputtext3.txt

In [27]:
def strint(line):
    col=[]
    for x in line:
        try:
            col.append(int(x))
        except:
            col.append(x)
    return col

In [40]:

!rm example-*
with beam.Pipeline() as p:
    # | beam.Create([10, 20, 30, 40, 50])
  (p | beam.io.ReadFromText('inputtext3.txt')
     | beam.Map(lambda line : line.split(","))
     | beam.Map(lambda num : strint(num))
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

[10, 20, 30, 'B', 'C']
[20, 30, 35, 'A', 'D']
[30, 35, 40, 'K', 'E']
[40, 45, 50, 'N', 'C']
[100, 105, 110, 'M', 'C']

In [31]:
def count_ones(word_ones):
    (word, ones) = word_ones
    return (word, sum(ones))

In [76]:
%%writefile inputtext2.txt
10,20,30,C
20,30,35,D
30,35,40,E
40,45,50,C
100,105,110,C
100,105,110,A
100,105,110,A
100,105,110,A
100,105,110,D
100,105,110,D
100,105,110,D
100,105,110,D
100,105,110,D
100,105,110,D
10,20,30,F
20,30,35,F
30,35,40,F
40,45,50,F
30,35,40,Z
40,45,50,Z
100,105,110,Z
100,105,110,Z

Overwriting inputtext2.txt

In [66]:
import numpy as np

In [90]:
# inputtext2.txt
# 10,20,30,C
# 20,30,35,D
# 30,35,40,E
# 40,45,50,C
# 100,105,110,C
# 100,105,110,A
# 100,105,110,A
# 100,105,110,A
# 100,105,110,D
# 100,105,110,D
# 100,105,110,D
# 100,105,110,D
# 100,105,110,D
# 100,105,110,D
!rm example-*

with beam.Pipeline() as p:
    (p | beam.io.ReadFromText('inputtext2.txt')
       | beam.Map(lambda line : line.split(","))
       | beam.Map(lambda fields : (fields[3] ,[int(fields[0]),int(fields[1]),int(fields[2])]))
       | beam.GroupByKey()
       | beam.Map(lambda fields : (fields[0],{"sum":np.sum(fields[1]),"mean":np.mean(fields[1]),"max":np.max(fields[1]),"min":np.min(fields[1]),
                                             "std":np.std(fields[1]),"ptp":np.ptp(fields[1])}))
       | beam.io.textio.WriteToText('example-output'))


clear_output()
!cat example-output*

('C', {'sum': 510, 'mean': 56.666666666666664, 'max': 110, 'min': 10, 'std': 36.132472314464664, 'ptp': 100})
('D', {'sum': 1975, 'mean': 94.04761904761905, 'max': 110, 'min': 20, 'std': 27.195020886142604, 'ptp': 90})
('E', {'sum': 105, 'mean': 35.0, 'max': 40, 'min': 30, 'std': 4.08248290463863, 'ptp': 10})
('A', {'sum': 945, 'mean': 105.0, 'max': 110, 'min': 100, 'std': 4.08248290463863, 'ptp': 10})
('F', {'sum': 385, 'mean': 32.083333333333336, 'max': 50, 'min': 10, 'std': 10.889278621143315, 'ptp': 40})
('Z', {'sum': 870, 'mean': 72.5, 'max': 110, 'min': 30, 'std': 32.94566233461799, 'ptp': 80})

In [95]:
np.sum([[10, 20, 30], [40, 45, 50], [100, 105, 110]])

510

In [96]:
import datetime
import time

In [93]:
datetime.datetime.fromtimestamp(time.time())

datetime.datetime(2023, 7, 14, 18, 0, 15, 74520)

In [94]:
datetime.datetime.strptime("22-12-21 17:57:43","%y-%m-%d %H:%M:%S")

datetime.datetime(2022, 12, 21, 17, 57, 43)

In [24]:
%%writefile inputtext4.txt
10,20,30,B,C,22-12-21 17:57:43
20,30,35,A,D,22-12-21 17:57:43
30,35,40,K,E,22-12-21 17:57:43
40,45,50,N,C,22-12-21 17:57:43
100,105,110,M,C,22-12-21 17:57:43
10,20,30,B,C,22-12-21 17:57:43
20,30,35,A,D,22-12-21 17:57:43
30,35,40,K,E,22-12-21 17:57:43
40,45,50,N,C,22-12-21 17:57:43
100,105,110,M,C,22-12-21 17:57:43
10,20,30,B,C,22-12-21 17:57:43
20,30,35,A,D,22-12-21 17:57:43
30,35,40,K,E,22-12-21 17:57:43
40,45,50,N,C,22-12-21 17:57:43
100,105,110,M,C,22-12-21 17:57:43
10,20,30,B,C,22-12-21 17:57:43
20,30,35,A,D,22-12-21 17:57:43
30,35,40,K,E,22-12-21 17:57:43
40,45,50,N,C,22-12-21 17:57:43
100,105,110,M,C,22-12-21 17:57:43

Overwriting inputtext4.txt

In [25]:
def strintdate(line):
    col=[]
    for x in line:
        try:
            try:
                try:
                    col.append(int(x))
                except:
                    col.append(datetime.datetime.strptime(x,"%y-%m-%d %H:%M:%S"))
            except:
                 col.append(x)
        except:pass
    return col

In [26]:
def stats(line):
    col=[]
    sums=0
    for x in line:
        col.append(x)
    arr=[]
    for i,x in enumerate(line):
        if i<=2:
            arr.append(int(x))
        else:
            pass
    col.append(np.round(np.mean(arr)))    
    col.append(np.round(np.std(arr)))
    col.append(np.round(np.var(arr))) 
    col.append(np.round(np.min(arr)))    
    col.append(np.round(np.max(arr)))    
    col.append(np.round(np.ptp(arr)))      
    return col

In [27]:


with beam.Pipeline() as p:
    # | beam.Create([10, 20, 30, 40, 50])
  (p | beam.io.ReadFromText('inputtext4.txt')
     | beam.Map(lambda line : line.split(","))
     | beam.Map(lambda line : strintdate(line))
     | beam.Map(lambda line : stats(line))
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

[10, 20, 30, 'B', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 20.0, 8.0, 67.0, 10, 30, 20]
[20, 30, 35, 'A', 'D', datetime.datetime(2022, 12, 21, 17, 57, 43), 28.0, 6.0, 39.0, 20, 35, 15]
[30, 35, 40, 'K', 'E', datetime.datetime(2022, 12, 21, 17, 57, 43), 35.0, 4.0, 17.0, 30, 40, 10]
[40, 45, 50, 'N', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 45.0, 4.0, 17.0, 40, 50, 10]
[100, 105, 110, 'M', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 105.0, 4.0, 17.0, 100, 110, 10]
[10, 20, 30, 'B', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 20.0, 8.0, 67.0, 10, 30, 20]
[20, 30, 35, 'A', 'D', datetime.datetime(2022, 12, 21, 17, 57, 43), 28.0, 6.0, 39.0, 20, 35, 15]
[30, 35, 40, 'K', 'E', datetime.datetime(2022, 12, 21, 17, 57, 43), 35.0, 4.0, 17.0, 30, 40, 10]
[40, 45, 50, 'N', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 45.0, 4.0, 17.0, 40, 50, 10]
[100, 105, 110, 'M', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 105.0, 4.0, 17.0, 100, 110, 10]
[10, 20, 30, 'B', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 20.0, 8.0, 67.0, 10, 30, 20]
[20, 30, 35, 'A', 'D', datetime.datetime(2022, 12, 21, 17, 57, 43), 28.0, 6.0, 39.0, 20, 35, 15]
[30, 35, 40, 'K', 'E', datetime.datetime(2022, 12, 21, 17, 57, 43), 35.0, 4.0, 17.0, 30, 40, 10]
[40, 45, 50, 'N', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 45.0, 4.0, 17.0, 40, 50, 10]
[100, 105, 110, 'M', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 105.0, 4.0, 17.0, 100, 110, 10]
[10, 20, 30, 'B', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 20.0, 8.0, 67.0, 10, 30, 20]
[20, 30, 35, 'A', 'D', datetime.datetime(2022, 12, 21, 17, 57, 43), 28.0, 6.0, 39.0, 20, 35, 15]
[30, 35, 40, 'K', 'E', datetime.datetime(2022, 12, 21, 17, 57, 43), 35.0, 4.0, 17.0, 30, 40, 10]
[40, 45, 50, 'N', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 45.0, 4.0, 17.0, 40, 50, 10]
[100, 105, 110, 'M', 'C', datetime.datetime(2022, 12, 21, 17, 57, 43), 105.0, 4.0, 17.0, 100, 110, 10]
10
20
30
40
50

In [29]:
#CoGroupByKey

class WordsAlphabet:

    def __init__(self, alphabet, fruit, country,nationality):
        self.alphabet = alphabet
        self.fruit = fruit
        self.country = country
        self.nationality = nationality

    def __str__(self):
        return "WordsAlphabet(alphabet:'%s', fruit='%s', country='%s', nationality='%s')" % (self.alphabet, self.fruit, self.country,self.nationality)


def apply_transforms(fruits, countries,nationalities):
    def map_to_alphabet_kv(word):
        return (word[0], word)

    def cogbk_result_to_wordsalphabet(cgbk_result):
        (alphabet, words) = cgbk_result
        return WordsAlphabet(alphabet, words['fruits'][0], words['countries'][0],words['nationalities'][0])

    fruits_kv = (fruits | 'Fruit to KV' >> beam.Map(map_to_alphabet_kv))
    countries_kv = (countries | 'Country to KV' >> beam.Map(map_to_alphabet_kv))
    nationalities_kv = (nationalities | 'nationality to KV' >> beam.Map(map_to_alphabet_kv))
    return ({'fruits': fruits_kv, 'countries': countries_kv,'nationalities': nationalities_kv}
            | beam.CoGroupByKey()
            | beam.Map(cogbk_result_to_wordsalphabet))


with beam.Pipeline() as p:

    fruits = p | 'Fruits' >> beam.Create(['apple', 'banana', 'cherry','doctor'])
    countries = p | 'Countries' >> beam.Create(['australia', 'brazil', 'canada','dutchland'])
    nationalities = p | 'Nationalities' >> beam.Create(['australian', 'brazilian', 'canadian','dutch'])

    (apply_transforms(fruits, countries,nationalities)
    | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

WordsAlphabet(alphabet:'a', fruit='apple', country='australia', nationality='australian')
WordsAlphabet(alphabet:'b', fruit='banana', country='brazil', nationality='brazilian')
WordsAlphabet(alphabet:'c', fruit='cherry', country='canada', nationality='canadian')
WordsAlphabet(alphabet:'d', fruit='doctor', country='dutchland', nationality='dutch')
10
20
30
40
50

In [31]:
import numpy as np

example_list=[10, 20, 50, 70, 90]


class AverageFn(beam.CombineFn):

    def create_accumulator(self):
        return 0.0, 0

    def add_input(self, accumulator, element):
        (sum, i) = accumulator
        # print(accumulator)
        # print(element)
        return sum + element, i + 1

    def merge_accumulators(self, accumulators):
        sums, counts = zip(*accumulators)
        print(accumulators)
        return sum(sums), sum(counts)

    def extract_output(self, accumulator):
        (sum, count) = accumulator
        return sum / count if count else float('NaN')


with beam.Pipeline() as p:
    clear_output()
    (p | beam.Create(example_list)
     | beam.CombineGlobally(AverageFn())
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*
np.mean(example_list)

48.0
10
20
30
40
50

48.0

In [30]:
with beam.Pipeline() as p:
  (p | beam.Create(range(1, 11))
     | beam.combiners.Mean.Globally()
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

5.5
10
20
30
40
50

In [32]:
with beam.Pipeline() as p:
  (p | beam.Create(example_list)
     | beam.combiners.Mean.Globally()
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

48.0
10
20
30
40
50

In [33]:
with beam.Pipeline() as p:
  (p | beam.Create(range(1, 11))
     | beam.combiners.Count.Globally()
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

10
10
20
30
40
50

In [34]:
with beam.Pipeline() as p:
  (p | beam.Create(range(1, 11))
     | beam.combiners.Latest.Globally()
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

10
10
20
30
40
50

In [37]:
with beam.Pipeline() as p:
  (p | beam.Create(range(1, 11))
     | beam.combiners.ToList()
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
20
30
40
50

In [38]:
#   Licensed to the Apache Software Foundation (ASF) under one
#   or more contributor license agreements.  See the NOTICE file
#   distributed with this work for additional information
#   regarding copyright ownership.  The ASF licenses this file
#   to you under the Apache License, Version 2.0 (the
#   "License"); you may not use this file except in compliance
#   with the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

import datetime
import pytz


from apache_beam.transforms import window




class Event:
    def __init__(self, id, event, timestamp):
        self.id = id
        self.event = event
        self.timestamp = timestamp

    def __str__(self) -> str:
        return f'Event({self.id}, {self.event}, {self.timestamp})'


class AddTimestampDoFn(beam.DoFn):

    def process(self, element, **kwargs):
        unix_timestamp = element.timestamp.timestamp()
        yield window.TimestampedValue(element, unix_timestamp)


with beam.Pipeline() as p:

  (p | beam.Create(
      [Event(str(x), f'book-order_{x}', datetime.datetime(2020, 3, x, x, 20-x, 0, 0, tzinfo=pytz.UTC)) \
       for x in range(1,19) ] 
  )
     | beam.ParDo(AddTimestampDoFn())
    | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

Event(1, book-order_1, 2020-03-01 01:19:00+00:00)
Event(2, book-order_2, 2020-03-02 02:18:00+00:00)
Event(3, book-order_3, 2020-03-03 03:17:00+00:00)
Event(4, book-order_4, 2020-03-04 04:16:00+00:00)
Event(5, book-order_5, 2020-03-05 05:15:00+00:00)
Event(6, book-order_6, 2020-03-06 06:14:00+00:00)
Event(7, book-order_7, 2020-03-07 07:13:00+00:00)
Event(8, book-order_8, 2020-03-08 08:12:00+00:00)
Event(9, book-order_9, 2020-03-09 09:11:00+00:00)
Event(10, book-order_10, 2020-03-10 10:10:00+00:00)
Event(11, book-order_11, 2020-03-11 11:09:00+00:00)
Event(12, book-order_12, 2020-03-12 12:08:00+00:00)
Event(13, book-order_13, 2020-03-13 13:07:00+00:00)
Event(14, book-order_14, 2020-03-14 14:06:00+00:00)
Event(15, book-order_15, 2020-03-15 15:05:00+00:00)
Event(16, book-order_16, 2020-03-16 16:04:00+00:00)
Event(17, book-order_17, 2020-03-17 17:03:00+00:00)
Event(18, book-order_18, 2020-03-18 18:02:00+00:00)
10
20
30
40
50

In [48]:
# !wget https://raw.githubusercontent.com/cs109/2015/master/Lectures/Lecture15b/sparklect/shakes/kinglear.txt

--2023-07-14 13:23:52--  https://raw.githubusercontent.com/cs109/2015/master/Lectures/Lecture15b/sparklect/shakes/kinglear.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 176339 (172K) [text/plain]
Saving to: ‘kinglear.txt’

kinglear.txt        100%[===================>] 172,21K  --.-KB/s    in 0,1s

2023-07-14 13:23:52 (1,60 MB/s) - ‘kinglear.txt’ saved [176339/176339]

In [49]:
%%writefile  wordcount.py
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

"""A word-counting workflow."""

# pytype: skip-file

import argparse
import logging
import re


from apache_beam.io import ReadFromText
from apache_beam.io import WriteToText
from apache_beam.options.pipeline_options import PipelineOptions
from apache_beam.options.pipeline_options import SetupOptions


class WordExtractingDoFn(beam.DoFn):
  """Parse each line of input text into words."""
  def process(self, element):
    """Returns an iterator over the words of this element.

    The element is a line of text.  If the line is blank, note that, too.

    Args:
      element: the element being processed

    Returns:
      The processed element.
    """
    # return re.findall(r'[\w\']+', element, re.UNICODE)
    return element.split()
    


def run(argv=None, save_main_session=True):
  """Main entry point; defines and runs the wordcount pipeline."""
  parser = argparse.ArgumentParser()
  parser.add_argument(
      '--input',
      dest='input',
      default='kinglear.txt',
      
      help='Input file to process.')
  parser.add_argument(
      '--output',
      dest='output',
      required=True,
      help='Output file to write results to.')
  known_args, pipeline_args = parser.parse_known_args(argv)

  # We use the save_main_session option because one or more DoFn's in this
  # workflow rely on global context (e.g., a module imported at module level).
  pipeline_options = PipelineOptions(pipeline_args)
  pipeline_options.view_as(SetupOptions).save_main_session = save_main_session

  # The pipeline will be run on exiting the with block.
  with beam.Pipeline(options=pipeline_options) as p:

    # Read the text file[pattern] into a PCollection.
    lines = p | 'Read' >> ReadFromText(known_args.input)

    counts = (
        lines
        | 'Split' >> (beam.ParDo(WordExtractingDoFn()).with_output_types(str))
        | 'PairWithOne' >> beam.Map(lambda x: (x, 1))
        | 'GroupAndSum' >> beam.CombinePerKey(sum))

    # Format the counts into a PCollection of strings.
    def format_result(word, count):
      return '%s: %d' % (word, count)

    output = counts | 'Format' >> beam.MapTuple(format_result)

    # Write the output using a "Write" transform that has side effects.
    # pylint: disable=expression-not-assigned
    output | 'Write' >> WriteToText(known_args.output)


if __name__ == '__main__':
  logging.getLogger().setLevel(logging.INFO)
  run()

Overwriting wordcount.py

In [51]:
!python3 wordcount.py --output wordcount_output
clear_output()
!head -n 5 wordcount_output*

==> wordcount_output-00000-of-00001 <==
﻿1606: 1
THE: 7
TRAGEDY: 1
OF: 16
KING: 1

==> wordcount_output2-00000-of-00001 <==
KING: 243
LEAR: 236
DRAMATIS: 1
PERSONAE: 1
king: 65

In [52]:
%%writefile wordcount_with_metric.py
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

"""A word-counting workflow."""

# pytype: skip-file

import argparse
import logging
import re


from apache_beam.io import ReadFromText
from apache_beam.io import WriteToText
from apache_beam.metrics import Metrics
from apache_beam.metrics.metric import MetricsFilter
from apache_beam.options.pipeline_options import PipelineOptions
from apache_beam.options.pipeline_options import SetupOptions


class WordExtractingDoFn(beam.DoFn):
  """Parse each line of input text into words."""
  def __init__(self):
    # TODO(BEAM-6158): Revert the workaround once we can pickle super() on py3.
    # super().__init__()
    beam.DoFn.__init__(self)
    self.words_counter = Metrics.counter(self.__class__, 'words')
    self.word_lengths_counter = Metrics.counter(self.__class__, 'word_lengths')
    self.word_lengths_dist = Metrics.distribution(
        self.__class__, 'word_len_dist')
    self.empty_line_counter = Metrics.counter(self.__class__, 'empty_lines')

  def process(self, element):
    """Returns an iterator over the words of this element.

    The element is a line of text.  If the line is blank, note that, too.

    Args:
      element: the element being processed

    Returns:
      The processed element.
    """
    text_line = element.strip()
    if not text_line:
      self.empty_line_counter.inc(1)
    words = re.findall(r'[\w\']+', text_line, re.UNICODE)
    for w in words:
      self.words_counter.inc()
      self.word_lengths_counter.inc(len(w))
      self.word_lengths_dist.update(len(w))
    return words


def main(argv=None, save_main_session=True):
  """Main entry point; defines and runs the wordcount pipeline."""
  parser = argparse.ArgumentParser()
  parser.add_argument(
      '--input',
      dest='input',
      default='kinglear.txt',
      help='Input file to process.')
  parser.add_argument(
      '--output',
      dest='output',
      required=True,
      help='Output file to write results to.')
  known_args, pipeline_args = parser.parse_known_args(argv)

  # We use the save_main_session option because one or more DoFn's in this
  # workflow rely on global context (e.g., a module imported at module level).
  pipeline_options = PipelineOptions(pipeline_args)
  pipeline_options.view_as(SetupOptions).save_main_session = save_main_session
  p = beam.Pipeline(options=pipeline_options)

  # Read the text file[pattern] into a PCollection.
  lines = p | 'read' >> ReadFromText(known_args.input)

  # Count the occurrences of each word.
  def count_ones(word_ones):
    (word, ones) = word_ones
    return (word, sum(ones))

  counts = (
      lines
      | 'split' >> (beam.ParDo(WordExtractingDoFn()).with_output_types(str))
      | 'pair_with_one' >> beam.Map(lambda x: (x, 1))
      | 'group' >> beam.GroupByKey()
      | 'count' >> beam.Map(count_ones))

  # Format the counts into a PCollection of strings.
  def format_result(word_count):
    (word, count) = word_count
    return '%s: %d' % (word, count)

  output = counts | 'format' >> beam.Map(format_result)

  # Write the output using a "Write" transform that has side effects.
  # pylint: disable=expression-not-assigned
  output | 'write' >> WriteToText(known_args.output)

  result = p.run()
  result.wait_until_finish()

  # Do not query metrics when creating a template which doesn't run
  if (not hasattr(result, 'has_job')  # direct runner
      or result.has_job):  # not just a template creation
    empty_lines_filter = MetricsFilter().with_name('empty_lines')
    query_result = result.metrics().query(empty_lines_filter)
    if query_result['counters']:
      empty_lines_counter = query_result['counters'][0]
      logging.info('number of empty lines: %d', empty_lines_counter.result)

    word_lengths_filter = MetricsFilter().with_name('word_len_dist')
    query_result = result.metrics().query(word_lengths_filter)
    if query_result['distributions']:
      word_lengths_dist = query_result['distributions'][0]
      logging.info('average word length: %d', word_lengths_dist.result.mean)


if __name__ == '__main__':
  logging.getLogger().setLevel(logging.INFO)
  main()

Overwriting wordcount_with_metric.py

In [53]:
!python3 wordcount_with_metric.py --output wordcount_output2
clear_output()
!head -n 5 wordcount_output2*

1606: 1
THE: 7
TRAGEDY: 1
OF: 16
KING: 1

In [54]:
%%writefile wordcounttest.py
# -*- coding: utf-8 -*-
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

"""Test for the wordcount example."""

# pytype: skip-file

import collections
import logging
import re
import tempfile
import unittest

import pytest

from apache_beam.examples import wordcount
from apache_beam.testing.util import open_shards


@pytest.mark.examples_postcommit
class WordCountTest(unittest.TestCase):

  SAMPLE_TEXT = (
      u'a b c a b a\nacento gráfico\nJuly 30, 2018\n\n aa bb cc aa bb aa')

  def create_temp_file(self, contents):
    with tempfile.NamedTemporaryFile(delete=False) as f:
      f.write(contents.encode('utf-8'))
      return f.name

  def test_basics(self):
    temp_path = self.create_temp_file(self.SAMPLE_TEXT)
    expected_words = collections.defaultdict(int)
    for word in re.findall(r'[\w\']+', self.SAMPLE_TEXT, re.UNICODE):
      expected_words[word] += 1
    wordcount.run(['--input=%s*' % temp_path, '--output=%s.result' % temp_path],
                  save_main_session=False)
    # Parse result file and compare.
    results = []
    with open_shards(temp_path + '.result-*-of-*') as result_file:
      for line in result_file:
        match = re.search(r'(\S+): ([0-9]+)', line)
        if match is not None:
          results.append((match.group(1), int(match.group(2))))
    self.assertEqual(sorted(results), sorted(expected_words.items()))


if __name__ == '__main__':
  logging.getLogger().setLevel(logging.INFO)
  unittest.main()

Overwriting wordcounttest.py

In [57]:
!python3 wordcounttest.py

INFO:root:Missing pipeline option (runner). Executing pipeline using the default runner: DirectRunner.
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function annotate_downstream_side_inputs at 0x7fcb1b594c10> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function fix_side_input_pcoll_coders at 0x7fcb1b594d30> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function pack_combiners at 0x7fcb1b595240> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function lift_combiners at 0x7fcb1b5952d0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_sdf at 0x7fcb1b595480> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_gbk at 0x7fcb1b595510> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sink_flattens at 0x7fcb1b595630> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function greedily_fuse at 0x7fcb1b5956c0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function read_to_impulse at 0x7fcb1b595750> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function impulse_to_input at 0x7fcb1b5957e0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sort_stages at 0x7fcb1b595a20> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function add_impulse_to_dangling_transforms at 0x7fcb1b595b40> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function setup_timer_mapping at 0x7fcb1b595990> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function populate_data_channel_coders at 0x7fcb1b595ab0> ====================
INFO:apache_beam.runners.worker.statecache:Creating state cache with size 104857600
INFO:apache_beam.runners.portability.fn_api_runner.worker_handlers:Created Worker handler <apache_beam.runners.portability.fn_api_runner.worker_handlers.EmbeddedWorkerHandler object at 0x7fcb1b307b50> for environment ref_Environment_default_environment_1 (beam:env:embedded_python:v1, b'')
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.00 seconds.
.
----------------------------------------------------------------------
Ran 1 test in 0.623s

OK

In [58]:


with beam.Pipeline() as p:

  (p | beam.Create(['apple', 'ball', 'car', 'bear', 'cheetah', 'ant'])
     | beam.Map(lambda word: (word[0], word))
     | beam.GroupByKey()
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

('a', ['apple', 'ant'])
('b', ['ball', 'bear'])
('c', ['car', 'cheetah'])
10
20
30
40
50

In [59]:
#   Licensed to the Apache Software Foundation (ASF) under one
#   or more contributor license agreements.  See the NOTICE file
#   distributed with this work for additional information
#   regarding copyright ownership.  The ASF licenses this file
#   to you under the Apache License, Version 2.0 (the
#   "License"); you may not use this file except in compliance
#   with the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.



class WordsAlphabet:

    def __init__(self, alphabet, fruit, country):
        self.alphabet = alphabet
        self.fruit = fruit
        self.country = country

    def __str__(self):
        return "WordsAlphabet(alphabet:'%s', fruit='%s', country='%s')" % (self.alphabet, self.fruit, self.country)


def apply_transforms(fruits, countries):
    def map_to_alphabet_kv(word):
        return (word[0], word)

    def cogbk_result_to_wordsalphabet(cgbk_result):
        (alphabet, words) = cgbk_result
        return WordsAlphabet(alphabet, words['fruits'][0], words['countries'][0])

    fruits_kv = (fruits | 'Fruit to KV' >> beam.Map(map_to_alphabet_kv))
    countries_kv = (countries | 'Country to KV' >> beam.Map(map_to_alphabet_kv))

    return ({'fruits': fruits_kv, 'countries': countries_kv}
            | beam.CoGroupByKey()
            | beam.Map(cogbk_result_to_wordsalphabet))


with beam.Pipeline() as p:

  fruits = p | 'Fruits' >> beam.Create(['apple', 'banana', 'cherry'])
  countries = p | 'Countries' >> beam.Create(['australia', 'brazil', 'canada'])

  (apply_transforms(fruits, countries)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

WordsAlphabet(alphabet:'a', fruit='apple', country='australia')
WordsAlphabet(alphabet:'b', fruit='banana', country='brazil')
WordsAlphabet(alphabet:'c', fruit='cherry', country='canada')
10
20
30
40
50

In [60]:
#combine per key


PLAYER_1 = 'Player 1'
PLAYER_2 = 'Player 2'
PLAYER_3 = 'Player 3'

with beam.Pipeline() as p:

  (p | beam.Create([(PLAYER_1, 15), (PLAYER_2, 10), (PLAYER_1, 100),
                    (PLAYER_3, 25), (PLAYER_2, 75)])
     | beam.CombinePerKey(sum)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

('Player 1', 115)
('Player 2', 85)
('Player 3', 25)
10
20
30
40
50

In [61]:
#combine simple function


def sum(numbers):
    total = 0

    for num in numbers:
        total += num

    return total


with beam.Pipeline() as p:

  (p | beam.Create([1, 2, 3, 4, 5])
     | beam.CombineGlobally(sum)
     | beam.io.textio.WriteToText('example-output'))
clear_output()
!cat example-output*

15
10
20
30
40
50

In [62]:
#side input


class Person:
    def __init__(self, name, city, country='',continent='',num1="",num2="",avg=""):
        self.name = name
        self.city = city
        self.country = country
        self.continent= continent
        self.num1=num1
        self.num2=num2
        self.avg=avg      

    def __str__(self):
        return 'Person[' + self.name + ',' + self.city + ',' + self.country + ',' + self.continent +',' + self.num1+',' + self.num2+','  +self.avg+']'


class EnrichCountryDoFn(beam.DoFn):

    def process(self, element, cities_to_countries):
        yield Person(element.name, element.city,
                     cities_to_countries[element.city])
        
class EnrichContinentDoFn(beam.DoFn):

    def process(self, element, cities_to_continents):
        yield Person(element.name, element.city,element.country,
                     cities_to_continents[element.city])
        
class NumDoFn(beam.DoFn):

    def process(self, element, name_to_num1):
        yield Person(element.name, element.city,element.country,element.continent,
                     name_to_num1[element.name])
        
class NumDoFn2(beam.DoFn):

    def process(self, element, name_to_num1):
        yield Person(element.name, element.city,element.country,element.continent,element.num1,
                     name_to_num2[element.name])

class AvgDoFn(beam.DoFn):

    def process(self, element):
        yield Person(element.name, element.city,element.country,element.continent,element.num1,element.num2,
                     str(round((int(element.num1)+int(element.num2))/2,2)))
        
with beam.Pipeline() as p:

    cities_to_countries = {
      'Beijing': 'China',
      'London': 'United Kingdom',
      'San Francisco': 'United States',
      'Singapore': 'Singapore',
      'Sydney': 'Australia'
    }

    cities_to_continents = {
      'Beijing': 'Asia',
      'London': 'Europe',
      'San Francisco': 'America',
      'Singapore': 'Asia',
      'Sydney': 'Australia'
    }
    
    name_to_num1 = {
      'Henry': "25",
      'Jane': "30",
      'Lee': "35",
      'John': "45",
      'Alfred': "50"
    }
    
    name_to_num2 = {
      'Henry': "50",
      'Jane': "45",
      'Lee': "35",
      'John': "30",
      'Alfred': "25"
    }
    
    persons = [
      Person('Henry', 'Singapore'),
      Person('Jane', 'San Francisco'),
      Person('Lee', 'Beijing'),
      Person('John', 'Sydney'),
      Person('Alfred', 'London')
    ]
    
    
    (p  | 'Create' >> beam.Create(persons)
        | 'Add-countries' >> beam.ParDo(EnrichCountryDoFn(), cities_to_countries)
        | 'Add-continents' >> beam.ParDo(EnrichContinentDoFn(), cities_to_continents)
        | 'Add-num' >> beam.ParDo(NumDoFn(), name_to_num1)
        | 'Add-num2' >> beam.ParDo(NumDoFn2(), name_to_num2)
        | 'avg' >> beam.ParDo(AvgDoFn())     
        | 'Write' >> beam.io.textio.WriteToText('example-output'))
    
clear_output()
!cat example-output*

Person[Henry,Singapore,Singapore,Asia,25,50,37.5]
Person[Jane,San Francisco,United States,America,30,45,37.5]
Person[Lee,Beijing,China,Asia,35,35,35.0]
Person[John,Sydney,Australia,Australia,45,30,37.5]
Person[Alfred,London,United Kingdom,Europe,50,25,37.5]
10
20
30
40
50

# Side input

In [97]:

!rm example-*
class Person:
    def __init__(self, name, city, country=''):
        self.name = name
        self.city = city
        self.country = country

    def __str__(self):
        return 'Person[' + self.name + ',' + self.city + ',' + self.country + ']'


class EnrichCountryDoFn(beam.DoFn):
    def process(self, element, cities_to_countries):
      yield Person(element.name, element.city, cities_to_countries[element.city])


with beam.Pipeline() as p:
  cities_to_countries = p | "Side input" >> beam.Create([('Beijing', 'China'),
                                                         ('London', 'United Kingdom'),
                                                         ('San Francisco', 'United States'),
                                                         ('Singapore', 'Singapore'),
                                                         ('Sydney', 'Australia')])

  persons = [
      Person('Henry', 'Singapore'),
      Person('Jane', 'San Francisco'),
      Person('Lee', 'Beijing'),
      Person('John', 'Sydney'),
      Person('Alfred', 'London')
  ]

  (p | beam.Create(persons)
     | beam.ParDo(EnrichCountryDoFn(), beam.pvalue.AsDict(cities_to_countries))
    | 'Write' >> beam.io.textio.WriteToText('example-output'))
    
clear_output()
!cat example-output*

Person[Henry,Singapore,Singapore]
Person[Jane,San Francisco,United States]
Person[Lee,Beijing,China]
Person[John,Sydney,Australia]
Person[Alfred,London,United Kingdom]

# TESTS

In [63]:
%%writefile filtertest.py
#filter test
import logging
import time
import unittest

import pytest
from hamcrest.core.core.allof import all_of


from apache_beam.examples.cookbook import filters
from apache_beam.io.gcp.tests import utils
from apache_beam.io.gcp.tests.bigquery_matcher import BigqueryMatcher
from apache_beam.testing.pipeline_verifiers import PipelineStateMatcher
from apache_beam.testing.test_pipeline import TestPipeline
from apache_beam.testing.util import assert_that
from apache_beam.testing.util import equal_to


class FiltersTest(unittest.TestCase):

  # The default checksum is a SHA-1 hash generated from sorted rows reading
  # from expected Bigquery table.
  DEFAULT_CHECKSUM = '813b6da1624334732fad4467d74a7c8a62559c6b'

  # Note that 'removed' should be projected away by the pipeline
  input_data = [
      {
          'year': 2010, 'month': 1, 'day': 1, 'mean_temp': 3, 'removed': 'a'
      },
      {
          'year': 2012, 'month': 1, 'day': 2, 'mean_temp': 3, 'removed': 'a'
      },
      {
          'year': 2011, 'month': 1, 'day': 3, 'mean_temp': 5, 'removed': 'a'
      },
      {
          'year': 2013, 'month': 2, 'day': 1, 'mean_temp': 3, 'removed': 'a'
      },
      {
          'year': 2011, 'month': 3, 'day': 3, 'mean_temp': 5, 'removed': 'a'
      },
  ]

  def _get_result_for_month(self, pipeline, month):
    rows = (pipeline | 'create' >> beam.Create(self.input_data))
    results = filters.filter_cold_days(rows, month)
    return results

  def test_basics(self):
    """Test that the correct result is returned for a simple dataset."""
    with TestPipeline() as p:
      results = self._get_result_for_month(p, 1)
      assert_that(
          results,
          equal_to([{
              'year': 2010, 'month': 1, 'day': 1, 'mean_temp': 3
          }, {
              'year': 2012, 'month': 1, 'day': 2, 'mean_temp': 3
          }]))

  def test_basic_empty(self):
    """Test that the correct empty result is returned for a simple dataset."""
    with TestPipeline() as p:
      results = self._get_result_for_month(p, 3)
      assert_that(results, equal_to([]))

  def test_basic_empty_missing(self):
    """Test that the correct empty result is returned for a missing month."""
    with TestPipeline() as p:
      results = self._get_result_for_month(p, 4)
      assert_that(results, equal_to([]))

  @pytest.mark.examples_postcommit
  def test_filters_output_bigquery_matcher(self):
    test_pipeline = TestPipeline(is_integration_test=True)

    # Set extra options to the pipeline for test purpose
    project = test_pipeline.get_option('project')

    dataset = 'FiltersTestIT'
    table = 'cold_days_%s' % int(round(time.time() * 1000))
    output_table = '.'.join([dataset, table])
    query = 'SELECT year, month, day, mean_temp FROM `%s`' % output_table

    pipeline_verifiers = [
        PipelineStateMatcher(),
        BigqueryMatcher(
            project=project, query=query, checksum=self.DEFAULT_CHECKSUM)
    ]
    extra_opts = {
        'output': output_table,
        'on_success_matcher': all_of(*pipeline_verifiers)
    }

    # Register cleanup before pipeline execution.
    # Note that actual execution happens in reverse order.
    self.addCleanup(utils.delete_bq_table, project, dataset, table)

    # Get pipeline options from command argument: --test-pipeline-options,
    # and start pipeline job by calling pipeline main function.
    filters.run(test_pipeline.get_full_options_as_args(**extra_opts))


if __name__ == '__main__':
  logging.getLogger().setLevel(logging.INFO)
  unittest.main()

Overwriting filtertest.py

In [64]:
!python3 filtertest.py

INFO:root:Missing pipeline option (runner). Executing pipeline using the default runner: DirectRunner.
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function annotate_downstream_side_inputs at 0x7f106466e200> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function fix_side_input_pcoll_coders at 0x7f106466e320> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function pack_combiners at 0x7f106466e830> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function lift_combiners at 0x7f106466e8c0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_sdf at 0x7f106466ea70> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_gbk at 0x7f106466eb00> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sink_flattens at 0x7f106466ec20> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function greedily_fuse at 0x7f106466ecb0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function read_to_impulse at 0x7f106466ed40> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function impulse_to_input at 0x7f106466edd0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sort_stages at 0x7f106466f010> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function add_impulse_to_dangling_transforms at 0x7f106466f130> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function setup_timer_mapping at 0x7f106466ef80> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function populate_data_channel_coders at 0x7f106466f0a0> ====================
INFO:apache_beam.runners.worker.statecache:Creating state cache with size 104857600
INFO:apache_beam.runners.portability.fn_api_runner.worker_handlers:Created Worker handler <apache_beam.runners.portability.fn_api_runner.worker_handlers.EmbeddedWorkerHandler object at 0x7f1064401150> for environment ref_Environment_default_environment_1 (beam:env:embedded_python:v1, b'')
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
.INFO:root:Missing pipeline option (runner). Executing pipeline using the default runner: DirectRunner.
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function annotate_downstream_side_inputs at 0x7f106466e200> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function fix_side_input_pcoll_coders at 0x7f106466e320> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function pack_combiners at 0x7f106466e830> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function lift_combiners at 0x7f106466e8c0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_sdf at 0x7f106466ea70> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_gbk at 0x7f106466eb00> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sink_flattens at 0x7f106466ec20> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function greedily_fuse at 0x7f106466ecb0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function read_to_impulse at 0x7f106466ed40> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function impulse_to_input at 0x7f106466edd0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sort_stages at 0x7f106466f010> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function add_impulse_to_dangling_transforms at 0x7f106466f130> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function setup_timer_mapping at 0x7f106466ef80> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function populate_data_channel_coders at 0x7f106466f0a0> ====================
INFO:apache_beam.runners.worker.statecache:Creating state cache with size 104857600
INFO:apache_beam.runners.portability.fn_api_runner.worker_handlers:Created Worker handler <apache_beam.runners.portability.fn_api_runner.worker_handlers.EmbeddedWorkerHandler object at 0x7f10631b00a0> for environment ref_Environment_default_environment_1 (beam:env:embedded_python:v1, b'')
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
.INFO:root:Missing pipeline option (runner). Executing pipeline using the default runner: DirectRunner.
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function annotate_downstream_side_inputs at 0x7f106466e200> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function fix_side_input_pcoll_coders at 0x7f106466e320> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function pack_combiners at 0x7f106466e830> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function lift_combiners at 0x7f106466e8c0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_sdf at 0x7f106466ea70> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_gbk at 0x7f106466eb00> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sink_flattens at 0x7f106466ec20> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function greedily_fuse at 0x7f106466ecb0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function read_to_impulse at 0x7f106466ed40> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function impulse_to_input at 0x7f106466edd0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sort_stages at 0x7f106466f010> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function add_impulse_to_dangling_transforms at 0x7f106466f130> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function setup_timer_mapping at 0x7f106466ef80> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function populate_data_channel_coders at 0x7f106466f0a0> ====================
INFO:apache_beam.runners.worker.statecache:Creating state cache with size 104857600
INFO:apache_beam.runners.portability.fn_api_runner.worker_handlers:Created Worker handler <apache_beam.runners.portability.fn_api_runner.worker_handlers.EmbeddedWorkerHandler object at 0x7f1064747b80> for environment ref_Environment_default_environment_1 (beam:env:embedded_python:v1, b'')
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
.s
----------------------------------------------------------------------
Ran 4 tests in 2.537s

OK (skipped=1)

In [65]:




with beam.Pipeline() as p:

    numbers = p | beam.Create([1, 2, 3, 4, 5])

    mult5_results = numbers | beam.Map(lambda num: num * 2)
    mult10_results = numbers | beam.Map(lambda num: num * 10)

    mult5_results | 'Log multiply 5' >> beam.io.textio.WriteToText('example-output')
    mult10_results| 'Log multiply 10' >> beam.io.textio.WriteToText('example-output2')

    
clear_output()
!cat example-output*

2
4
6
8
10
10
20
30
40
50

reading ~100MB subset for each file | run in terminal | Google Cloud SDK needed
``` bash
gsutil cat -r 0-10000000  gs://apache-beam-samples/game/gaming_data1.csv>game1.csv
gsutil cat -r 0-10000000  gs://apache-beam-samples/game/gaming_data2.csv>game2.csv
head -n -2 game1.csv > game11.csv 
head -n -2 game2.csv > game22.csv
rm game1.csv game2.csv
mv game11.csv game1.csv
mv game22.csv game2.csv
```

In [66]:
%%writefile userscore1.py
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

"""First in a series of four pipelines that tell a story in a 'gaming' domain.
Concepts: batch processing; reading input from Google Cloud Storage or a from a
local text file, and writing output to a text file; using standalone DoFns; use
of the CombinePerKey transform.
In this gaming scenario, many users play, as members of different teams, over
the course of a day, and their actions are logged for processing. Some of the
logged game events may be late-arriving, if users play on mobile devices and go
transiently offline for a period of time.
This pipeline does batch processing of data collected from gaming events. It
calculates the sum of scores per user, over an entire batch of gaming data
(collected, say, for each day). The batch processing will not include any late
data that arrives after the day's cutoff point.
For a description of the usage and options, use -h or --help.
To specify a different runner:
  --runner YOUR_RUNNER
NOTE: When specifying a different runner, additional runner-specific options
      may have to be passed in as well
EXAMPLES
--------
# DirectRunner
python user_score.py \
    --output /local/path/user_score/output
# DataflowRunner
python user_score.py \
    --output gs://$BUCKET/user_score/output \
    --runner DataflowRunner \
    --project $PROJECT_ID \
    --region $REGION_ID \
    --temp_location gs://$BUCKET/user_score/temp
"""

# pytype: skip-file

# beam-playground:
#   name: UserScore
#   description: batch processing; reading input from Google Cloud Storage or a
#     from a local text file, and writing output to a text file; using
#     standalone DoFns; use of the CombinePerKey transform.
#   multifile: true
#   pipeline_options: --output output.txt
#   context_line: 81
#   categories:
#     - Batch
#     - Combiners
#     - Options
#   complexity: ADVANCED
#   tags:
#     - batch
#     - combine
#     - combine
#     - io
#     - strings

import argparse
import csv
import logging


from apache_beam.metrics.metric import Metrics
from apache_beam.options.pipeline_options import PipelineOptions
from apache_beam.options.pipeline_options import SetupOptions


class ParseGameEventFn(beam.DoFn):
  """Parses the raw game event info into a Python dictionary.
  Each event line has the following format:
    username,teamname,score,timestamp_in_ms,readable_time
  e.g.:
    user2_AsparagusPig,AsparagusPig,10,1445230923951,2015-11-02 09:09:28.224
  The human-readable time string is not used here.
  """
  def __init__(self):
    # TODO(BEAM-6158): Revert the workaround once we can pickle super() on py3.
    # super().__init__()
    beam.DoFn.__init__(self)
    self.num_parse_errors = Metrics.counter(self.__class__, 'num_parse_errors')

  def process(self, elem):
    try:
      row = list(csv.reader([elem]))[0]
      yield {
          'user': row[0],
          'team': row[1],
          'score': int(row[2]),
          'timestamp': int(row[3]) / 1000.0,
      }
    except:  # pylint: disable=bare-except
      # Log and count parse errors
      self.num_parse_errors.inc()
      logging.error('Parse error on "%s"', elem)


# [START extract_and_sum_score]
class ExtractAndSumScore(beam.PTransform):
  """A transform to extract key/score information and sum the scores.
  The constructor argument `field` determines whether 'team' or 'user' info is
  extracted.
  """
  def __init__(self, field):
    # TODO(BEAM-6158): Revert the workaround once we can pickle super() on py3.
    # super().__init__()
    beam.PTransform.__init__(self)
    self.field = field

  def expand(self, pcoll):
    return (
        pcoll
        | beam.Map(lambda elem: (elem[self.field], elem['score']))
        | beam.CombinePerKey(sum))


# [END extract_and_sum_score]


class UserScore(beam.PTransform):
  def expand(self, pcoll):
    return (
        pcoll
        | 'ParseGameEventFn' >> beam.ParDo(ParseGameEventFn())
        # Extract and sum username/score pairs from the event data.
        | 'ExtractAndSumScore' >> ExtractAndSumScore('user'))


# [START main]
def run(argv=None, save_main_session=True):
  """Main entry point; defines and runs the user_score pipeline."""
  parser = argparse.ArgumentParser()

  # The default maps to two large Google Cloud Storage files (each ~12GB)
  # holding two subsequent day's worth (roughly) of data.
  parser.add_argument(
      '--input',
      type=str,
      # default='gs://apache-beam-samples/game/gaming_data*.csv', # ~24GB total
      default='./game*.csv', # ~200MB total
      
      help='Path to the data file(s) containing game data.')
  parser.add_argument(
      '--output', type=str, required=True, help='Path to the output file(s).')

  args, pipeline_args = parser.parse_known_args(argv)

  options = PipelineOptions(pipeline_args)

  # We use the save_main_session option because one or more DoFn's in this
  # workflow rely on global context (e.g., a module imported at module level).
  options.view_as(SetupOptions).save_main_session = save_main_session

  with beam.Pipeline(options=options) as p:

    def format_user_score_sums(user_score):
      (user, score) = user_score
      return 'user: %s, total_score: %s' % (user, score)

    (  # pylint: disable=expression-not-assigned
        p
        | 'ReadInputText' >> beam.io.ReadFromText(args.input)
        | 'UserScore' >> UserScore()
        | 'FormatUserScoreSums' >> beam.Map(format_user_score_sums)
        | 'WriteUserScoreSums' >> beam.io.WriteToText(args.output))


# [END main]

if __name__ == '__main__':
  logging.getLogger().setLevel(logging.INFO)
  run()

Overwriting userscore1.py

In [67]:
!python3 userscore1.py --output userscore1-output

INFO:root:Missing pipeline option (runner). Executing pipeline using the default runner: DirectRunner.
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function annotate_downstream_side_inputs at 0x7f97724cc430> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function fix_side_input_pcoll_coders at 0x7f97724cc550> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function pack_combiners at 0x7f97724cca60> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function lift_combiners at 0x7f97724ccaf0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_sdf at 0x7f97724ccca0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function expand_gbk at 0x7f97724ccd30> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sink_flattens at 0x7f97724cce50> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function greedily_fuse at 0x7f97724ccee0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function read_to_impulse at 0x7f97724ccf70> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function impulse_to_input at 0x7f97724cd000> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function sort_stages at 0x7f97724cd240> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function add_impulse_to_dangling_transforms at 0x7f97724cd360> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function setup_timer_mapping at 0x7f97724cd1b0> ====================
INFO:apache_beam.runners.portability.fn_api_runner.translations:==================== <function populate_data_channel_coders at 0x7f97724cd2d0> ====================
INFO:apache_beam.runners.worker.statecache:Creating state cache with size 104857600
INFO:apache_beam.runners.portability.fn_api_runner.worker_handlers:Created Worker handler <apache_beam.runners.portability.fn_api_runner.worker_handlers.EmbeddedWorkerHandler object at 0x7f9772255870> for environment ref_Environment_default_environment_1 (beam:env:embedded_python:v1, b'')
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:root:Default Python SDK image for environment is apache/beam_python3.10_sdk:2.48.0
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.02 seconds.

In [68]:
!head -n 5 userscore1-output*

user: user16_AmaranthKoala, total_score: 8112
user: user10_AndroidGreenKoala, total_score: 4243
user: user9_AuburnCockatoo, total_score: 3294
user: user1_AntiqueBrassPlatypus, total_score: 7778
user: user9_BattleshipGreyPossum, total_score: 4141

In [69]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2023-07-14 13:27:31--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58,89K  --.-KB/s    in 0,07s

2023-07-14 13:27:31 (848 KB/s) - ‘titanic.csv’ saved [60302/60302]

In [152]:
[get_age_group(32) if type("a")==int else  None]

[None]

In [261]:
convert_embarked(None)

''

In [139]:
(get_ticket("4556456"))

'4556456'

In [34]:
!rm -r beam-temp*

rm: cannot remove 'beam-temp*': No such file or directory

In [36]:
!rm example-output*
import csv
def get_age_group(age):
    
    if age < 18:
        return "Child"
    elif age < 35:
        return "Young Adult"
    elif age < 50:
        return "Adult"
    else:
        return None

def get_deck(cabin):
    if cabin:
        return cabin[0]
    else:
        return cabin

def convert_embarked(embarked):
    if embarked == "C":
        return "Cherbourg"
    elif embarked == "Q":
        return "Queenstown"
    elif embarked == "S":
        return "Southampton"
    else:
        return ""

def get_ticket_prefix(ticket):
    if ' ' in ticket:
        return ticket.split(' ')[0].replace('.', '').replace('/', '')
    else:
        return ticket
    
def get_ticket(field):
    try:
        value = re.match(r"\S+\s(\d+)", field).group(1)
        assert type(int(values)) == int
        return value
    except:
        try:
            assert type(int(field)) == int
            return field
        except:
            return 0
    
def process_titanic_data(input_file, output_file):
    with beam.Pipeline() as pipeline:
        # Read the input CSV file
        lines = pipeline | "ReadInputFile" >> beam.io.ReadFromText(input_file)

        # Extract the header
        header, data = (
            lines
            | "SplitHeaderData" >> beam.Partition(lambda line, _: 0 if line.startswith("PassengerId") else 1, 2)
        )

        # Parse the CSV lines into individual fields 
        parsed_data = (
            data
            | "ParseCSV" >> beam.Map(lambda line: next(csv.reader([line])))
        )
        #12
        title_data = (
            parsed_data
            | "AddTitleField" >> beam.Map(lambda fields: fields + [fields[3].split(',')[1].strip().split(' ')[0]])
        )
        #13
        title_data2 = (
            title_data
            | "AddFamilyField" >> beam.Map(lambda fields: fields + [fields[3].split(',')[0].strip()])
        )
        #14
        pclass_age_data = (
            title_data2
            | "AddPclassAgeField" >> beam.Map(lambda fields: fields + [int(fields[2]) * float(fields[5])]
                                              if fields[2] and fields[5] else fields + [""])
        
        )
        
        #15 Add a new field "Family Size" by combining "SibSp" and "Parch"
        family_size_data = (
            pclass_age_data
            | "AddFamilySizeField" >> beam.Map(lambda fields: fields + [int(fields[6]) + int(fields[7]) + 1])
        )
        
        #16 Bin the "Age" field into different age groups
        age_group_data = (
            family_size_data
            | "AddAgeGroupField" >> beam.Map(lambda fields: fields + [get_age_group(float(fields[5]))] if fields[5] else  fields + [""])
        )

        #17 Calculate "Fare Per Person" by dividing "Fare" by family size
        fare_per_person_data = (
            age_group_data
            | "AddFarePerPersonField" >> beam.Map(lambda fields: fields + [int(get_ticket(fields[8]))
                                                                           / (float(fields[9])+0.00001)] if fields[8] 
                                                  and fields[9] else  fields + [""])
        )

        
         # 18 Create a binary feature indicating whether a passenger was traveling alone or not
        is_alone_data = (
            fare_per_person_data
            | "AddIsAloneField" >> beam.Map(lambda fields: fields + [1 if int(fields[6]) + int(fields[7]) == 0 else 0] 
                                            if fields[6] and fields[7] else fields + [""])
        )

        #19 Convert the "Embarked" field into categorical variables
        embarked_data = (
            is_alone_data
            | "ConvertEmbarkedField" >> beam.Map(lambda fields: fields + [convert_embarked(fields[11])] if  fields[11] else  fields + [""])
        )

        #20 Calculate the length of the passenger's name
        name_length_data = (
            embarked_data
            | "AddNameLengthField" >> beam.Map(lambda fields: fields + [len(fields[3])]  if  fields[3] else  fields + [""])
        )

        #21 Extract any prefixes from the "Ticket" field
        ticket_prefix_data = (
            name_length_data
            | "AddTicketPrefixField" >> beam.Map(lambda fields: fields + [get_ticket_prefix(fields[9])]  if  fields[9] else  fields + [""])
        )
        
        
        #22 Extract the deck information from the "Cabin" field
        deck_data = (
            ticket_prefix_data
            | "AddDeckField" >> beam.Map(lambda fields: fields + [get_deck(fields[10])] if  fields[10] else  fields + [""] )
        )
        
        
        
        
        # Convert a specific field from string to int
        converted_data = (
            deck_data
            | "ConvertField" >> beam.Map(lambda fields: (int(fields[0]),
                                                         int(fields[1]),
                                                         int(fields[2]),
                                                         fields[3],
                                                         fields[4],
                                                         fields[5],
                                                         int(fields[6]),
                                                         int(fields[7]),
                                                         fields[8],
                                                         float(fields[9]), 
                                                         fields[10],
                                                         fields[11], 
                                                         fields[12], 
                                                         fields[13], 
                                                         (fields[14]), 
                                                         int(fields[15]), 
                                                         fields[16], 
                                                         float(fields[17]), 
                                                         int(fields[18]),
                                                        fields[19],
                                                        int(fields[20]),
                                                        float(fields[21]),
                                                         fields[22]
                                         
                                        
        )))

        

        # Combine the header and converted data
        combined_data = (
            [converted_data]
            | "CombineData" >> beam.Flatten()
        )
        # Convert the tuples to comma-separated strings
        csv_data = converted_data | "ConvertToCSV" >> beam.Map(lambda row: ",".join(str(value) for value in row))
        
        # Write the processed data to a new CSV file
        csv_data | "WriteToCSV" >> beam.io.WriteToText(output_file, header=None)

if __name__ == '__main__':
    input_file = 'titanic.csv'
    output_file = 'final_example-output-titanic.csv'
    process_titanic_data(input_file, output_file)

rm: cannot remove 'example-output*': No such file or directory

In [37]:
import pandas

In [38]:
df=pd.read_csv("titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [39]:
# cat titanic.csv

In [40]:
cat final_example-output*

1,0,3,Braund, Mr. Owen Harris,male,22,1,0,A/5 21171,7.25,,S,Mr.,Braund,66.0,2,Young Adult,0.0,0,Southampton,23,7.25,
2,1,1,Cumings, Mrs. John Bradley (Florence Briggs Thayer),female,38,1,0,PC 17599,71.2833,C85,C,Mrs.,Cumings,38.0,2,Adult,0.0,0,Cherbourg,51,71.2833,C
3,1,3,Heikkinen, Miss. Laina,female,26,0,0,STON/O2. 3101282,7.925,,S,Miss.,Heikkinen,78.0,1,Young Adult,0.0,1,Southampton,22,7.925,
4,1,1,Futrelle, Mrs. Jacques Heath (Lily May Peel),female,35,1,0,113803,53.1,C123,S,Mrs.,Futrelle,35.0,2,Adult,2143.1822705871427,0,Southampton,44,53.1,C
5,0,3,Allen, Mr. William Henry,male,35,0,0,373450,8.05,,S,Mr.,Allen,105.0,1,Adult,46391.246718948176,1,Southampton,24,8.05,
6,0,3,Moran, Mr. James,male,,0,0,330877,8.4583,,Q,Mr.,Moran,,1,,39118.57096748642,1,Queenstown,16,8.4583,
7,0,1,McCarthy, Mr. Timothy J,male,54,0,0,17463,51.8625,E46,S,Mr.,McCarthy,54.0,1,None,336.7172163476083,1,Southampton,23,51.8625,E
8,0,3,Palsson, Master. Gosta Leonard,male,2,3,1,349909,21.075,,S,Master.,Palsson,6.0,5,Child,16603.028895359956,0,Southampton,30,21.075,
9,1,3,Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg),female,27,0,2,347742,11.1333,,S,Mrs.,Johnson,81.0,3,Young Adult,31234.376838514334,0,Southampton,49,11.1333,
10,1,2,Nasser, Mrs. Nicholas (Adele Achem),female,14,1,0,237736,30.0708,,C,Mrs.,Nasser,28.0,2,Child,7905.872838144367,0,Cherbourg,35,30.0708,
11,1,3,Sandstrom, Miss. Marguerite Rut,female,4,1,1,PP 9549,16.7,G6,S,Miss.,Sandstrom,12.0,3,Child,0.0,0,Southampton,31,16.7,G
12,1,1,Bonnell, Miss. Elizabeth,female,58,0,0,113783,26.55,C103,S,Miss.,Bonnell,58.0,1,None,4285.610438564807,1,Southampton,24,26.55,C
13,0,3,Saundercock, Mr. William Henry,male,20,0,0,A/5. 2151,8.05,,S,Mr.,Saundercock,60.0,1,Young Adult,0.0,1,Southampton,30,8.05,
14,0,3,Andersson, Mr. Anders Johan,male,39,1,5,347082,31.275,,S,Mr.,Andersson,117.0,7,Adult,11097.742254918545,0,Southampton,27,31.275,
15,0,3,Vestrom, Miss. Hulda Amanda Adolfina,female,14,0,0,350406,7.8542,,S,Miss.,Vestrom,42.0,1,Child,44613.780380203745,1,Southampton,36,7.8542,
16,1,2,Hewlett, Mrs. (Mary D Kingcome) ,female,55,0,0,248706,16.0,,S,Mrs.,Hewlett,110.0,1,None,15544.115284927948,1,Southampton,32,16.0,
17,0,3,Rice, Master. Eugene,male,2,4,1,382652,29.125,,Q,Master.,Rice,6.0,6,Child,13138.2615834295,0,Queenstown,20,29.125,
18,1,2,Williams, Mr. Charles Eugene,male,,0,0,244373,13.0,,S,Mr.,Williams,,1,,18797.908616993373,1,Southampton,28,13.0,
19,0,3,Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele),female,31,1,0,345763,18.0,,S,Mrs.,Vander Planke,93.0,2,Young Adult,19209.044883863953,0,Southampton,55,18.0,
20,1,3,Masselmani, Mrs. Fatima,female,,0,0,2649,7.225,,C,Mrs.,Masselmani,,1,,366.64309115143095,1,Cherbourg,23,7.225,
21,0,2,Fynney, Mr. Joseph J,male,35,0,0,239865,26.0,,S,Mr.,Fynney,70.0,1,Adult,9225.573374779471,1,Southampton,20,26.0,
22,1,2,Beesley, Mr. Lawrence,male,34,0,0,248698,13.0,D56,S,Mr.,Beesley,68.0,1,Young Adult,19130.60066876872,1,Southampton,21,13.0,D
23,1,3,McGowan, Miss. Anna "Annie",female,15,0,0,330923,8.0292,,Q,Miss.,McGowan,45.0,1,Child,41214.88913604203,1,Queenstown,27,8.0292,
24,1,1,Sloper, Mr. William Thompson,male,28,0,0,113788,35.5,A6,S,Mr.,Sloper,28.0,1,Young Adult,3205.294871747923,1,Southampton,28,35.5,A
25,0,3,Palsson, Miss. Torborg Danira,female,8,3,1,349909,21.075,,S,Miss.,Palsson,24.0,5,Child,16603.028895359956,0,Southampton,29,21.075,
26,1,3,Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson),female,38,1,5,347077,31.3875,,S,Mrs.,Asplund,114.0,7,Adult,11057.806114597814,0,Southampton,57,31.3875,
27,0,3,Emir, Mr. Farred Chehab,male,,0,0,2631,7.225,,C,Mr.,Emir,,1,,364.1517451186919,1,Cherbourg,23,7.225,
28,0,1,Fortune, Mr. Charles Alexander,male,19,3,2,19950,263.0,C23 C25 C27,S,Mr.,Fortune,19.0,6,Young Adult,75.85551042374486,0,Southampton,30,263.0,C
29,1,3,O'Dwyer, Miss. Ellen "Nellie",female,,0,0,330959,7.8792,,Q,Miss.,O'Dwyer,,1,,42004.08416579835,1,Queenstown,29,7.8792,
30,0,3,Todoroff, Mr. Lalio,male,,0,0,349216,7.8958,,S,Mr.,Todoroff,,1,,44228.01460521467,1,Southampton,19,7.8958,
31,0,1,Uruchurtu, Don. Manuel E,male,40,0,0,PC 17601,27.7208,,C,Don.,Uruchurtu,40.0,1,Adult,0.0,1,Cherbourg,24,27.7208,
32,1,1,Spencer, Mrs. William Augustus (Marie Eugenie),female,,1,0,PC 17569,146.5208,B78,C,Mrs.,Spencer,,2,,0.0,0,Cherbourg,46,146.5208,B
33,1,3,Glynn, Miss. Mary Agatha,female,,0,0,335677,7.75,,Q,Miss.,Glynn,,1,,43313.10540244464,1,Queenstown,24,7.75,
34,0,2,Wheadon, Mr. Edward H,male,66,0,0,C.A. 24579,10.5,,S,Mr.,Wheadon,132.0,1,None,0.0,1,Southampton,21,10.5,
35,0,1,Meyer, Mr. Edgar Joseph,male,28,1,0,PC 17604,82.1708,,C,Mr.,Meyer,28.0,2,Young Adult,0.0,0,Cherbourg,23,82.1708,
36,0,1,Holverson, Mr. Alexander Oskar,male,42,1,0,113789,52.0,,S,Mr.,Holverson,42.0,2,Adult,2188.2495791827732,0,Southampton,30,52.0,
37,1,3,Mamee, Mr. Hanna,male,,0,0,2677,7.2292,,C,Mr.,Mamee,,1,,370.3032558191006,1,Cherbourg,16,7.2292,
38,0,3,Cann, Mr. Ernest Charles,male,21,0,0,A./5. 2152,8.05,,S,Mr.,Cann,63.0,1,Young Adult,0.0,1,Southampton,24,8.05,
39,0,3,Vander Planke, Miss. Augusta Maria,female,18,2,0,345764,18.0,,S,Miss.,Vander Planke,54.0,3,Young Adult,19209.100439388647,0,Southampton,34,18.0,
40,1,3,Nicola-Yarred, Miss. Jamila,female,14,1,0,2651,11.2417,,C,Miss.,Nicola-Yarred,42.0,2,Child,235.81821626780982,0,Cherbourg,27,11.2417,
41,0,3,Ahlin, Mrs. Johan (Johanna Persdotter Larsson),female,40,1,0,7546,9.475,,S,Mrs.,Ahlin,120.0,2,Adult,796.4107689596107,0,Southampton,46,9.475,
42,0,2,Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott),female,27,1,0,11668,21.0,,S,Mrs.,Turpin,54.0,2,Young Adult,555.6187830386748,0,Southampton,56,21.0,
43,0,3,Kraeff, Mr. Theodor,male,,0,0,349253,7.8958,,C,Mr.,Kraeff,,1,,44232.7006348937,1,Cherbourg,19,7.8958,
44,1,2,Laroche, Miss. Simonne Marie Anne Andree,female,3,1,2,SC/Paris 2123,41.5792,,C,Miss.,Laroche,6.0,4,Child,0.0,0,Cherbourg,40,41.5792,
45,1,3,Devaney, Miss. Margaret Delia,female,19,0,0,330958,7.8792,,Q,Miss.,Devaney,57.0,1,Young Adult,42003.95724952121,1,Queenstown,29,7.8792,
46,0,3,Rogers, Mr. William John,male,,0,0,S.C./A.4. 23567,8.05,,S,Mr.,Rogers,,1,,0.0,1,Southampton,24,8.05,
47,0,3,Lennon, Mr. Denis,male,,1,0,370371,15.5,,Q,Mr.,Lennon,,2,,23894.8878097498,0,Queenstown,17,15.5,
48,1,3,O'Driscoll, Miss. Bridget,female,,0,0,14311,7.75,,Q,Miss.,O'Driscoll,,1,,1846.5782624796614,1,Queenstown,25,7.75,
49,0,3,Samaan, Mr. Youssef,male,,2,0,2662,21.6792,,C,Mr.,Samaan,,3,,122.79045223511373,0,Cherbourg,19,21.6792,
50,0,3,Arnold-Franchi, Mrs. Josef (Josefine Franchi),female,18,1,0,349237,17.8,,S,Mrs.,Arnold-Franchi,54.0,2,Young Adult,19620.045157278,0,Southampton,45,17.8,
51,0,3,Panula, Master. Juha Niilo,male,7,4,1,3101295,39.6875,,S,Master.,Panula,21.0,6,Child,78142.84645219616,0,Southampton,26,39.6875,
52,0,3,Nosworthy, Mr. Richard Cater,male,21,0,0,A/4. 39886,7.8,,S,Mr.,Nosworthy,63.0,1,Young Adult,0.0,1,Southampton,28,7.8,
53,1,1,Harper, Mrs. Henry Sleeper (Myna Haxtun),female,49,1,0,PC 17572,76.7292,D33,C,Mrs.,Harper,49.0,2,Adult,0.0,0,Cherbourg,40,76.7292,D
54,1,2,Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson),female,29,1,0,2926,26.0,,S,Mrs.,Faunthorpe,58.0,2,Young Adult,112.53841825445451,0,Southampton,50,26.0,
55,0,1,Ostby, Mr. Engelhart Cornelius,male,65,0,1,113509,61.9792,B30,C,Mr.,Ostby,65.0,2,None,1831.4044338416059,0,Cherbourg,30,61.9792,B
56,1,1,Woolner, Mr. Hugh,male,,0,0,19947,35.5,C52,S,Mr.,Woolner,,1,,561.8871656655871,1,Southampton,17,35.5,C
57,1,2,Rugg, Miss. Emily,female,21,0,0,C.A. 31026,10.5,,S,Miss.,Rugg,42.0,1,Young Adult,0.0,1,Southampton,17,10.5,
58,0,3,Novel, Mr. Mansouer,male,28.5,0,0,2697,7.2292,,C,Mr.,Novel,85.5,1,Young Adult,373.06980984090933,1,Cherbourg,19,7.2292,
59,1,2,West, Miss. Constance Mirium,female,5,1,2,C.A. 34651,27.75,,S,Miss.,West,10.0,4,Child,0.0,0,Southampton,28,27.75,
60,0,3,Goodwin, Master. William Frederick,male,11,5,2,CA 2144,46.9,,S,Master.,Goodwin,33.0,8,Child,0.0,0,Southampton,34,46.9,
61,0,3,Sirayanian, Mr. Orsen,male,22,0,0,2669,7.2292,,C,Mr.,Sirayanian,66.0,1,Young Adult,369.1966342103771,1,Cherbourg,21,7.2292,
62,1,1,Icard, Miss. Amelie,female,38,0,0,113572,80.0,B28,,Miss.,Icard,38.0,1,Adult,1419.6498225437722,1,,19,80.0,B
63,0,1,Harris, Mr. Henry Birkhardt,male,45,1,0,36973,83.475,C83,S,Mr.,Harris,45.0,2,Adult,442.92297778700475,0,Southampton,27,83.475,C
64,0,3,Skoog, Master. Harald,male,4,3,2,347088,27.9,,S,Master.,Skoog,12.0,6,Child,12440.425648592958,0,Southampton,21,27.9,
65,0,1,Stewart, Mr. Albert A,male,,0,0,PC 17605,27.7208,,C,Mr.,Stewart,,1,,0.0,1,Cherbourg,21,27.7208,
66,1,3,Moubarek, Master. Gerios,male,,1,1,2661,15.2458,,C,Master.,Moubarek,,3,,174.53975879274373,0,Cherbourg,24,15.2458,
67,1,2,Nye, Mrs. (Elizabeth Ramell),female,29,0,0,C.A. 29395,10.5,F33,S,Mrs.,Nye,58.0,1,Young Adult,0.0,1,Southampton,28,10.5,F
68,0,3,Crease, Mr. Ernest James,male,19,0,0,S.P. 3464,8.1583,,S,Mr.,Crease,57.0,1,Young Adult,0.0,1,Southampton,24,8.1583,
69,1,3,Andersson, Miss. Erna Alexandra,female,17,4,2,3101281,7.925,,S,Miss.,Andersson,51.0,7,Child,391328.3390178688,0,Southampton,31,7.925,
70,0,3,Kink, Mr. Vincenz,male,26,2,0,315151,8.6625,,S,Mr.,Kink,78.0,3,Young Adult,36381.02582276962,0,Southampton,17,8.6625,
71,0,2,Jenkin, Mr. Stephen Curnow,male,32,0,0,C.A. 33111,10.5,,S,Mr.,Jenkin,64.0,1,Young Adult,0.0,1,Southampton,26,10.5,
72,0,3,Goodwin, Miss. Lillian Amy,female,16,5,2,CA 2144,46.9,,S,Miss.,Goodwin,48.0,8,Child,0.0,0,Southampton,26,46.9,
73,0,2,Hood, Mr. Ambrose Jr,male,21,0,0,S.O.C. 14879,73.5,,S,Mr.,Hood,42.0,1,Young Adult,0.0,1,Southampton,20,73.5,
74,0,3,Chronopoulos, Mr. Apostolos,male,26,1,0,2680,14.4542,,C,Mr.,Chronopoulos,78.0,2,Young Adult,185.4131080148967,0,Cherbourg,27,14.4542,
75,1,3,Bing, Mr. Lee,male,32,0,0,1601,56.4958,,S,Mr.,Bing,96.0,1,Young Adult,28.338384740390477,1,Southampton,13,56.4958,
76,0,3,Moen, Mr. Sigurd Hansen,male,25,0,0,348123,7.65,F G73,S,Mr.,Moen,75.0,1,Young Adult,45506.215024555524,1,Southampton,23,7.65,F
77,0,3,Staneff, Mr. Ivan,male,,0,0,349208,7.8958,,S,Mr.,Staneff,,1,,44227.00140960839,1,Southampton,17,7.8958,
78,0,3,Moutal, Mr. Rahamin Haim,male,,0,0,374746,8.05,,S,Mr.,Moutal,,1,,46552.24030777601,1,Southampton,24,8.05,
79,1,2,Caldwell, Master. Alden Gates,male,0.83,0,2,248738,29.0,,S,Master.,Caldwell,1.66,3,Child,8577.169456148464,0,Southampton,29,29.0,
80,1,3,Dowdell, Miss. Elizabeth,female,30,0,0,364516,12.475,,S,Miss.,Dowdell,90.0,1,Young Adult,29219.69601627574,1,Southampton,24,12.475,
81,0,3,Waelens, Mr. Achille,male,22,0,0,345767,9.0,,S,Mr.,Waelens,66.0,1,Young Adult,38418.512868319034,1,Southampton,20,9.0,
82,1,3,Sheerlinck, Mr. Jan Baptist,male,29,0,0,345779,9.5,,S,Mr.,Sheerlinck,87.0,1,Young Adult,36397.75116026194,1,Southampton,27,9.5,
83,1,3,McDermott, Miss. Brigdet Delia,female,,0,0,330932,7.7875,,Q,Miss.,McDermott,,1,,42495.22633036748,1,Queenstown,30,7.7875,
84,0,1,Carrau, Mr. Francisco M,male,28,0,0,113059,47.1,,S,Mr.,Carrau,28.0,1,Young Adult,2400.402887387922,1,Southampton,23,47.1,
85,1,2,Ilett, Miss. Bertha,female,17,0,0,SO/C 14885,10.5,,S,Miss.,Ilett,34.0,1,Child,0.0,1,Southampton,19,10.5,
86,1,3,Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson),female,33,3,0,3101278,15.85,,S,Mrs.,Backstrom,99.0,4,Young Adult,195664.1036819535,0,Southampton,55,15.85,
87,0,3,Ford, Mr. William Neal,male,16,1,3,W./C. 6608,34.375,,S,Mr.,Ford,48.0,5,Child,0.0,0,Southampton,22,34.375,
88,0,3,Slocovski, Mr. Selman Francis,male,,0,0,SOTON/OQ 392086,8.05,,S,Mr.,Slocovski,,1,,0.0,1,Southampton,29,8.05,
89,1,1,Fortune, Miss. Mabel Helen,female,23,3,2,19950,263.0,C23 C25 C27,S,Miss.,Fortune,23.0,6,Young Adult,75.85551042374486,0,Southampton,26,263.0,C
90,0,3,Celotti, Mr. Francesco,male,24,0,0,343275,8.05,,S,Mr.,Celotti,72.0,1,Young Adult,42642.8041704296,1,Southampton,22,8.05,
91,0,3,Christmann, Mr. Emil,male,29,0,0,343276,8.05,,S,Mr.,Christmann,87.0,1,Young Adult,42642.928393877766,1,Southampton,20,8.05,
92,0,3,Andreasson, Mr. Paul Edvin,male,20,0,0,347466,7.8542,,S,Mr.,Andreasson,60.0,1,Young Adult,44239.45883799899,1,Southampton,26,7.8542,
93,0,1,Chaffee, Mr. Herbert Fuller,male,46,1,0,W.E.P. 5734,61.175,E31,S,Mr.,Chaffee,46.0,2,Adult,0.0,0,Southampton,27,61.175,E
94,0,3,Dean, Mr. Bertram Frank,male,26,1,2,C.A. 2315,20.575,,S,Mr.,Dean,78.0,4,Young Adult,0.0,0,Southampton,23,20.575,
95,0,3,Coxon, Mr. Daniel,male,59,0,0,364500,7.25,,S,Mr.,Coxon,177.0,1,None,50275.79272304452,1,Southampton,17,7.25,
96,0,3,Shorney, Mr. Charles Joseph,male,,0,0,374910,8.05,,S,Mr.,Shorney,,1,,46572.612953275835,1,Southampton,27,8.05,
97,0,1,Goldschmidt, Mr. George B,male,71,0,0,PC 17754,34.6542,A5,C,Mr.,Goldschmidt,71.0,1,None,0.0,1,Cherbourg,25,34.6542,A
98,1,1,Greenfield, Mr. William Bertram,male,23,0,1,PC 17759,63.3583,D10 D12,C,Mr.,Greenfield,23.0,2,Young Adult,0.0,0,Cherbourg,31,63.3583,D
99,1,2,Doling, Mrs. John T (Ada Julia Bone),female,34,0,1,231919,23.0,,S,Mrs.,Doling,68.0,2,Young Adult,10083.430398508523,0,Southampton,36,23.0,
100,0,2,Kantor, Mr. Sinai,male,34,1,0,244367,26.0,,S,Mr.,Kantor,68.0,2,Young Adult,9398.72715433571,0,Southampton,17,26.0,
101,0,3,Petranec, Miss. Matilda,female,28,0,0,349245,7.8958,,S,Miss.,Petranec,84.0,1,Young Adult,44231.687439287416,1,Southampton,23,7.8958,
102,0,3,Petroff, Mr. Pastcho ("Pentcho"),male,,0,0,349215,7.8958,,S,Mr.,Petroff,,1,,44227.88795576388,1,Southampton,32,7.8958,
103,0,1,White, Mr. Richard Frasar,male,21,0,1,35281,77.2875,D26,S,Mr.,White,21.0,2,Young Adult,456.49031777579586,0,Southampton,25,77.2875,D
104,0,3,Johansson, Mr. Gustaf Joel,male,33,0,0,7540,8.6542,,S,Mr.,Johansson,99.0,1,Young Adult,871.2522575717484,1,Southampton,26,8.6542,
105,0,3,Gustafsson, Mr. Anders Vilhelm,male,37,2,0,3101276,7.925,,S,Mr.,Gustafsson,111.0,3,Adult,391327.7081038384,0,Southampton,30,7.925,
106,0,3,Mionoff, Mr. Stoytcho,male,28,0,0,349207,7.8958,,S,Mr.,Mionoff,84.0,1,Young Adult,44226.8747601576,1,Southampton,21,7.8958,
107,1,3,Salkjelsvik, Miss. Anna Kristine,female,21,0,0,343120,7.65,,S,Miss.,Salkjelsvik,63.0,1,Young Adult,44852.228951334706,1,Southampton,32,7.65,
108,1,3,Moss, Mr. Albert Johan,male,,0,0,312991,7.775,,S,Mr.,Moss,,1,,40256.02539417956,1,Southampton,22,7.775,
109,0,3,Rekic, Mr. Tido,male,38,0,0,349249,7.8958,,S,Mr.,Rekic,114.0,1,Adult,44232.19403709056,1,Southampton,15,7.8958,
110,1,3,Moran, Miss. Bertha,female,,1,0,371110,24.15,,Q,Miss.,Moran,,2,,15366.867342912074,0,Queenstown,19,24.15,
111,0,1,Porter, Mr. Walter Chamberlain,male,47,0,0,110465,52.0,C110,S,Mr.,Porter,47.0,1,Adult,2124.3265145525934,1,Southampton,30,52.0,C
112,0,3,Zabour, Miss. Hileni,female,14.5,1,0,2665,14.4542,,C,Miss.,Zabour,43.5,2,Child,184.3753480819775,0,Cherbourg,20,14.4542,
113,0,3,Barton, Mr. David John,male,22,0,0,324669,8.05,,S,Mr.,Barton,66.0,1,Young Adult,40331.50269378547,1,Southampton,22,8.05,
114,0,3,Jussila, Miss. Katriina,female,20,1,0,4136,9.825,,S,Miss.,Jussila,60.0,2,Young Adult,420.96649265496933,0,Southampton,23,9.825,
115,0,3,Attalah, Miss. Malake,female,17,0,0,2627,14.4583,,C,Miss.,Attalah,51.0,1,Child,181.69481772074332,1,Cherbourg,21,14.4583,
116,0,3,Pekoniemi, Mr. Edvard,male,21,0,0,STON/O 2. 3101294,7.925,,S,Mr.,Pekoniemi,63.0,1,Young Adult,0.0,1,Southampton,21,7.925,
117,0,3,Connors, Mr. Patrick,male,70.5,0,0,370369,7.75,,Q,Mr.,Connors,211.5,1,None,47789.48672324294,1,Queenstown,20,7.75,
118,0,2,Turpin, Mr. William John Robert,male,29,1,0,11668,21.0,,S,Mr.,Turpin,58.0,2,Young Adult,555.6187830386748,0,Southampton,31,21.0,
119,0,1,Baxter, Mr. Quigg Edmond,male,24,0,1,PC 17558,247.5208,B58 B60,C,Mr.,Baxter,24.0,2,Young Adult,0.0,0,Cherbourg,24,247.5208,B
120,0,3,Andersson, Miss. Ellis Anna Maria,female,2,4,2,347082,31.275,,S,Miss.,Andersson,6.0,7,Child,11097.742254918545,0,Southampton,33,31.275,
121,0,2,Hickman, Mr. Stanley George,male,21,2,0,S.O.C. 14879,73.5,,S,Mr.,Hickman,42.0,3,Young Adult,0.0,0,Southampton,27,73.5,
122,0,3,Moore, Mr. Leonard Charles,male,,0,0,A4. 54510,8.05,,S,Mr.,Moore,,1,,0.0,1,Southampton,26,8.05,
123,0,2,Nasser, Mr. Nicholas,male,32.5,1,0,237736,30.0708,,C,Mr.,Nasser,65.0,2,Young Adult,7905.872838144367,0,Cherbourg,20,30.0708,
124,1,2,Webber, Miss. Susan,female,32.5,0,0,27267,13.0,E101,S,Miss.,Webber,65.0,1,Young Adult,2097.459925030827,1,Southampton,19,13.0,E
125,0,1,White, Mr. Percival Wayland,male,54,0,1,35281,77.2875,D26,S,Mr.,White,54.0,2,None,456.49031777579586,0,Southampton,27,77.2875,D
126,1,3,Nicola-Yarred, Master. Elias,male,12,1,0,2651,11.2417,,C,Master.,Nicola-Yarred,36.0,2,Child,235.81821626780982,0,Cherbourg,28,11.2417,
127,0,3,McMahon, Mr. Martin,male,,0,0,370372,7.75,,Q,Mr.,McMahon,,1,,47789.873819517656,1,Queenstown,19,7.75,
128,1,3,Madsen, Mr. Fridtjof Arne,male,24,0,0,C 17369,7.1417,,S,Mr.,Madsen,72.0,1,Young Adult,0.0,1,Southampton,25,7.1417,
129,1,3,Peter, Miss. Anna,female,,1,1,2668,22.3583,F E69,C,Miss.,Peter,,3,,119.32923373904379,0,Cherbourg,17,22.3583,F
130,0,3,Ekstrom, Mr. Johan,male,45,0,0,347061,6.975,,S,Mr.,Ekstrom,135.0,1,Adult,49757.77812504929,1,Southampton,18,6.975,
131,0,3,Drazenoic, Mr. Jozef,male,33,0,0,349241,7.8958,,C,Mr.,Drazenoic,99.0,1,Young Adult,44231.18084148428,1,Cherbourg,20,7.8958,
132,0,3,Coelho, Mr. Domingos Fernandeo,male,20,0,0,SOTON/O.Q. 3101307,7.05,,S,Mr.,Coelho,60.0,1,Young Adult,0.0,1,Southampton,30,7.05,
133,0,3,Robins, Mrs. Alexander A (Grace Charity Laury),female,47,1,0,A/5. 3337,14.5,,S,Mrs.,Robins,141.0,2,Adult,0.0,0,Southampton,46,14.5,
134,1,2,Weisz, Mrs. Leopold (Mathilde Francoise Pede),female,29,1,0,228414,26.0,,S,Mrs.,Weisz,58.0,2,Young Adult,8785.150467249821,0,Southampton,45,26.0,
135,0,2,Sobey, Mr. Samuel James Hayden,male,25,0,0,C.A. 29178,13.0,,S,Mr.,Sobey,50.0,1,Young Adult,0.0,1,Southampton,30,13.0,
136,0,2,Richard, Mr. Emile,male,23,0,0,SC/PARIS 2133,15.0458,,C,Mr.,Richard,46.0,1,Young Adult,0.0,1,Cherbourg,18,15.0458,
137,1,1,Newsom, Miss. Helen Monypeny,female,19,0,2,11752,26.2833,D47,S,Miss.,Newsom,19.0,3,Young Adult,447.12785414013683,0,Southampton,28,26.2833,D
138,0,1,Futrelle, Mr. Jacques Heath,male,37,1,0,113803,53.1,C123,S,Mr.,Futrelle,37.0,2,Adult,2143.1822705871427,0,Southampton,27,53.1,C
139,0,3,Osen, Mr. Olaf Elon,male,16,0,0,7534,9.2167,,S,Mr.,Osen,48.0,1,Child,817.4283448215253,1,Southampton,19,9.2167,
140,0,1,Giglio, Mr. Victor,male,24,0,0,PC 17593,79.2,B86,C,Mr.,Giglio,24.0,1,Young Adult,0.0,1,Cherbourg,18,79.2,B
141,0,3,Boulos, Mrs. Joseph (Sultana),female,,0,2,2678,15.2458,,C,Mrs.,Boulos,,3,,175.6548192585373,0,Cherbourg,29,15.2458,
142,1,3,Nysten, Miss. Anna Sofia,female,22,0,0,347081,7.75,,S,Miss.,Nysten,66.0,1,Young Adult,44784.58737472597,1,Southampton,24,7.75,
143,1,3,Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck),female,24,1,0,STON/O2. 3101279,15.85,,S,Mrs.,Hakkarainen,72.0,2,Young Adult,0.0,0,Southampton,52,15.85,
144,0,3,Burke, Mr. Jeremiah,male,19,0,0,365222,6.75,,Q,Mr.,Burke,57.0,1,Young Adult,54106.88280461807,1,Queenstown,19,6.75,
145,0,2,Andrew, Mr. Edgardo Samuel,male,18,0,0,231945,11.5,,S,Mr.,Andrew,36.0,1,Young Adult,20169.11289642357,1,Southampton,26,11.5,
146,0,2,Nicholls, Mr. Joseph Charles,male,19,1,1,C.A. 33112,36.75,,S,Mr.,Nicholls,38.0,3,Young Adult,0.0,0,Southampton,28,36.75,
147,1,3,Andersson, Mr. August Edvard ("Wennerstrom"),male,27,0,0,350043,7.7958,,S,Mr.,Andersson,81.0,1,Young Adult,44901.427818276745,1,Southampton,44,7.7958,
148,0,3,Ford, Miss. Robina Maggie "Ruby",female,9,2,2,W./C. 6608,34.375,,S,Miss.,Ford,27.0,5,Child,0.0,0,Southampton,32,34.375,
149,0,2,Navratil, Mr. Michel ("Louis M Hoffman"),male,36.5,0,2,230080,26.0,F2,S,Mr.,Navratil,73.0,3,Adult,8849.227365681783,0,Southampton,40,26.0,F
150,0,2,Byles, Rev. Thomas Roussel Davids,male,42,0,0,244310,13.0,,S,Rev.,Byles,84.0,1,Adult,18793.062466875024,1,Southampton,33,13.0,
151,0,2,Bateman, Rev. Robert James,male,51,0,0,S.O.P. 1166,12.525,,S,Rev.,Bateman,102.0,1,None,0.0,1,Southampton,26,12.525,
152,1,1,Pears, Mrs. Thomas (Edith Wearne),female,22,1,0,113776,66.6,C2,S,Mrs.,Pears,22.0,2,Young Adult,1708.348091839626,0,Southampton,33,66.6,C
153,0,3,Meo, Mr. Alfonzo,male,55.5,0,0,A.5. 11206,8.05,,S,Mr.,Meo,166.5,1,None,0.0,1,Southampton,16,8.05,